@model OmahRealEstate.Web.Models.RegisterUserViewModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Omah - Register</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">

    <meta name="keywords" content="admin, dashboard, admin dashboard, admin template, template, admin panel, administration, analytics, bootstrap, hospital admin, modern, property, real estate, responsive, creative, retina ready, modern Dashboard">
    <meta name="description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">

    <meta property="og:title" content="Omah - Real Estate Admin Dashboard Template">
    <meta property="og:description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
    <meta property="og:image" content="https://omah.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <meta name="twitter:title" content="Omah - Real Estate Admin Dashboard Template">
    <meta name="twitter:description" content="Your Ultimate Real Estate Admin Dashboard Template. Streamline property management, analyze market trends, and boost productivity with our intuitive and feature-rich solution. Elevate your real estate business today!">
    <meta name="twitter:image" content="https://omah.dexignzone.com/xhtml/social-image.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="fix-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">

                    <div class="card mb-0 h-auto">


                        <div class="card-body">
                            <div class="text-center mb-3">
                                <img class="logo-auth" src="~/images/logo-full.png" alt=""></a>
                            </div>
                            <h4 class="text-center mb-4">Sign up your account</h4>
                            <form method="post">
                                <div class="form-group mb-4">
                                    <label asp-for="FirstName" class="form-label>">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter First Name"/>
                                    <span asp-validation-for="FirstName" class="text-warning"></span>

                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="LastName" class="form-label>">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Enter Last Name" />
                                    <span asp-validation-for="LastName" class="text-warning"></span>

                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="UserName" class="form-label">Username</label>
                                    <input asp-for="UserName" type="text" class="form-control" placeholder="Enter username">
                                    <span asp-validation-for="UserName" class="text-warning"></span>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Enter Phone Number">
                                    <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                                </div>
                                <div class="form-group mb-sm-4 mb-3">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <div class="position-relative">
                                        <input asp-for="Password" type="password" id="dz-password" class="form-control" placeholder="password">
                                        <span class="show-pass eye">
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Password" class="text-warning"></span>
                                </div>
                                <div class="form-group mb-sm-4 mb-3">
                                    <label asp-for="Confirm" class="form-label">Confirm Password</label>
                                    <div class="position-relative">
                                        <input asp-for="Confirm" type="password" id="dz-password" class="form-control" placeholder="password">
                                        <span class="show-pass eye">
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Confirm" class="text-warning"></span>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>

                                </div>
                            </form>
                            <div class="new-account mt-3">
                                <p>Already have an account? <a asp-controller="Account" asp-action="Login" class="text-primary">Sign in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
